{% extends 'base.html' %}
{% block content %}
    <main>
        <div class="content-wrapper">
            <div class="basic-heading alter-heading">
                <h1>Edit post</h1>
                <button class="basic-button">Save</button>
            </div>
            <form class="basic-form">
                <textarea class="basic-textarea">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore ipsa, debitis nobis voluptate provident repudiandae ab rem perferendis nisi neque qui aliquam, minima deleniti officiis odit eligendi consequuntur voluptatem quos.
                </textarea>
                <input type="file">
                <img class="post-img" src="dog1.jpeg">
            </form>
        </div>
    </main>

    <footer class="footer">
        <div class="footer-content">
            <p>2024 Сам сюда чето напишешь. Icons by <a href="https://icons8.ru">Icons8</a></p>
        </div>
    </footer>
{% endblock content %}