{% extends 'base.html' %}
{% block content %}
    <main>
        <div class="content-wrapper">
            <div class="basic-heading">
                <h1>This is Feed</h1>
                <span>Here you can find stuff posted by users you follow</span>
            </div>
            <div class="content-list">
                <div class="post">
                    <div class="post-heading">
                        <div class="username">
                            <img width="24" height="24" src="https://img.icons8.com/ios-glyphs/24/1A1A1A/user--v1.png"/>
                            <a href="ссылка на юзера автора поста">Username</a>
                        </div>
                        <!-- <button class="basic-button">Unsubscribe</button> -->
                    </div>
                    <p>
                        Lorem ipsum dolor sit
                        amet consectetur adipisicing
                        elit. Labore ipsa, debitis
                        nobis voluptate provident
                        repudiandae ab rem perferendis
                        nisi neque qui aliquam, minima
                        deleniti officiis odit eligendi
                        consequuntur voluptatem quos.
                    </p>
                    <img class="post-img" src={{ url_for('static', filename='img/dog1.jpeg') }}>
                    <div class="post-misc">
                        
                    </div>
                </div>
                <div class="post">
                    <div class="post-heading">
                        <div class="username">
                            <img width="24" height="24" src="https://img.icons8.com/ios-glyphs/24/1A1A1A/user--v1.png"/>
                            <a href="ссылка на юзера автора поста">Username</a>
                        </div>
                    </div>
                    <p>
                        Lorem ipsum dolor sit
                        amet consectetur adipisicing
                        elit. Labore ipsa, debitis
                        nobis voluptate provident
                        repudiandae ab rem perferendis
                        nisi neque qui aliquam, minima
                        deleniti officiis odit eligendi
                        consequuntur voluptatem quos.
                    </p>
                    <img class="post-img" src={{ url_for('static', filename='img/dog1.jpeg') }}>
                    <div class="post-misc">
                        
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer class="footer">
        <div class="footer-content">
            <p>2024 Сам сюда чето напишешь. Icons by <a href="https://icons8.ru">Icons8</a></p>
        </div>
    </footer>
{% endblock content %}