<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/index.css">
    <title>Document</title>
</head>
<body>
    <header class="header">
        <div class="header-content">
            <h2>Posty</h2>
            <div class="header-nav">
                <a class="nav-element" href="ссылка на ленту">Feed</a>
                <a class="nav-element" href="ссылка на стр поиска">Find users</a>
                <a class="nav-element" href="ссылка на метод логаута по идее возвращает стр логина">Logout</a>
                <div class="username">
                    <a href="ссылка на юзера который ща залогинен">Username</a>
                    <img width="24" height="24" src="https://img.icons8.com/ios-glyphs/24/FFFFFF/user--v1.png"/>
                </div>
            </div>
        </div>
    </header>

    <main>
        <div class="content-wrapper">
            <div class="basic-heading alter-heading">
                <h1>Username's posts</h1>
                <button class="basic-button">Subscribe</button>
            </div>
            <div class="content-list">
                <div class="post">
                    <div class="post-heading">
                        <div class="username">
                            <img width="24" height="24" src="https://img.icons8.com/ios-glyphs/24/1A1A1A/user--v1.png"/>
                            <a href="ссылка на юзера автора поста">Username</a>
                        </div>
                    </div>
                    <p>
                        Lorem ipsum dolor sit
                        amet consectetur adipisicing
                        elit. Labore ipsa, debitis
                        nobis voluptate provident
                        repudiandae ab rem perferendis
                        nisi neque qui aliquam, minima
                        deleniti officiis odit eligendi
                        consequuntur voluptatem quos.
                    </p>
                    <img class="post-img" src="dog1.jpeg">
                    <div class="post-misc">
                        
                    </div>
                </div>
                <div class="post">
                    <div class="post-heading">
                        <div class="username">
                            <img width="24" height="24" src="https://img.icons8.com/ios-glyphs/24/1A1A1A/user--v1.png"/>
                            <a href="ссылка на юзера автора поста">Username</a>
                        </div>
                    </div>
                    <p>
                        Lorem ipsum dolor sit
                        amet consectetur adipisicing
                        elit. Labore ipsa, debitis
                        nobis voluptate provident
                        repudiandae ab rem perferendis
                        nisi neque qui aliquam, minima
                        deleniti officiis odit eligendi
                        consequuntur voluptatem quos.
                    </p>
                    <img class="post-img" src="dog1.jpeg">
                    <div class="post-misc">
                        
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer class="footer">
        <div class="footer-content">
            <p>2024 Сам сюда чето напишешь. Icons by <a href="https://icons8.ru">Icons8</a></p>
        </div>
    </footer>
</body>
</html>